body {
  font-family: Arial, sans-serif;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffcccb;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav-button {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 14px;
}

.login-box {
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: #000;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remember-me {
  display: inline-block;
  margin: 10px 0;
}

.forgot-password {
  display: block;
  text-align: right;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.login-button {
  background-color: #d28b8b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background-color: #d95e5e;
}
